body{background: white;}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: black;
}
.center{text-align: center;}
textarea{width: 44.75vw;height: 100vh;display: inline;margin: 0 ; display: inline-block;clear: both;}
div.textarea{display: flex;justify-content: center;clear: both;}

.div{
	width: 90vw;
	height: 100vh;
	background: white;
	margin: 0 auto;
	border:1px solid black;
}

.inline{display: inline;}
.height-marjin{margin-left: 18vw;margin-right: 30vw;}




#nav-img{
	width: 3vw;
	height: 3vw;
	margin-bottom: 5px;
}

nav{
	display: flex;
	justify-content: space-between;
	background: purple;
	/* height: 50px */
	padding: 0px 5vw;
}

#nav-ul{
	list-style-type: none;
	vertical-align: middle;
	align-items: center;
	padding-top: 12px;
}

#nav-ul li{
	display: inline-block;
	margin: 0 3vw;
	/* padding-top: 10px */
}
#nav-ul li a{
	text-decoration: none;
}
