@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}
.flex {
  display: flex;
}
.justify-evenly {
  justify-content: space-evenly;
}
.button {
  background: rgba(0, 0, 0, 0);
  border: black 2px solid;
  padding: 0.7em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 9px;
  cursor: pointer;
  color: black;
}
button.button:hover {
  border-color: purple;
  color: purple;
}
.margin-top-regular {
  margin-top: 150px;
}
.margin-top-small {
  margin-top: 75px;
}
.margin-top-tiny {
  margin-top: 30px;
}

#thumbnails a.active {
  opacity: 0.5;
}
#example-note {
  color: red;
  font-size: 1.5rem;
}
.center {
  text-align: center;
}
textarea {
  width: 44.75vw;
  height: 100vh;
  display: inline;
  margin: 0;
  display: inline-block;
  clear: both;
}
div.textarea {
  display: flex;
  justify-content: center;
  clear: both;
}

.div {
  width: 89.4vw;
  height: 80vh;
  background: white;
  margin: 0 auto;
  border: 1px solid black;
  overflow: auto;
  /* display: flex; */
  /* justify-content: space-around; */
}

.inline {
  display: inline;
}
.height-marjin {
  margin-left: 20vw;
  margin-right: 35vw;
}

nav h2 {
  margin-top: 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  background: white;
  /* height: 50px */
  padding: 0px 5vw;
}

#nav-ul {
  list-style-type: none;
  vertical-align: middle;
  align-items: center;
  padding-top: 12px;
}

#nav-ul li {
  display: inline-block;
  margin: 0 3vw;
  /* padding-top: 10px */
}
#nav-ul li a {
  text-decoration: none;
}
nav {
  height: 3em;
}
